<div class="app-container" [class.dark-theme]="darkMode()">
  <app-header></app-header>
  <div class="app-content">
    <div class="scanner-column">
      <div class="scanner-panel">
        <h2 class="panel-title">
          <span class="icon-scan"></span>
          Escanear QR de alumno
        </h2>
        <app-scanner></app-scanner>
      </div>

      <div class="result-panel">
        <h2 class="panel-title">
          <span class="icon-result">📋</span>
          Último registro
        </h2>
        <app-last-result (showDetailsEvent)="openDetailsModal($event)"></app-last-result>
      </div>
    </div>
    <div class="info-column">
      <!-- Estadísticas diarias -->
      <div class="stats-panel">
        <h2 class="panel-title">
          <span class="icon-stats">📊</span>
          Estadísticas del día
        </h2>
        <app-daily-stats></app-daily-stats>
      </div>
      <div class="history-panel">
        <h2 class="panel-title">
          <span class="icon-history">📜</span>
          Historial de registros
        </h2>
        <app-history (showDetailsEvent)="openDetailsModal($event)"></app-history>
      </div>
    </div>
  </div>
  <app-details-modal [registro]="selectedRegistro()" [isVisible]="showDetailsModal()"
    (closeModal)="closeDetailsModal()"></app-details-modal>
  <app-help-chat></app-help-chat>
</div>