<!-- src/app/components/quick-guide/quick-guide.component.html -->
<div class="guide-container" [class.dark-theme]="darkMode()" [ngClass]="getGuideClasses()">
    <div class="guide-header" (click)="toggleGuide()">
      <div class="guide-title">
        <i class="material-icons">help_outline</i>
        <span>Guía Rápida</span>
      </div>
      <i class="material-icons toggle-icon">{{ isExpanded() ? 'expand_less' : 'expand_more' }}</i>
    </div>
    
    <div class="guide-content">
      <div class="guide-tabs">
        <div 
          class="guide-tab" 
          [class.active]="isTabActive('scanner')" 
          (click)="setTab('scanner')"
        >
          <i class="material-icons">qr_code_scanner</i>
          <span>Escáner</span>
        </div>
        <div 
          class="guide-tab" 
          [class.active]="isTabActive('status')" 
          (click)="setTab('status')"
        >
          <i class="material-icons">info</i>
          <span>Estados</span>
        </div>
      </div>
      
      <div class="guide-tab-content">
        @if (selectedTab() === 'scanner') {
          <div class="guide-list">
            @for (item of scannerGuide; track item.title) {
              <div class="guide-item">
                <div class="guide-item-icon">
                  <i class="material-icons">{{ item.icon }}</i>
                </div>
                <div class="guide-item-content">
                  <h4 class="guide-item-title">{{ item.title }}</h4>
                  <p class="guide-item-description">{{ item.description }}</p>
                </div>
              </div>
            }
          </div>
        }
        
        @if (selectedTab() === 'status') {
          <div class="guide-list">
            @for (item of statusGuide; track item.title) {
              <div class="guide-item">
                <div class="guide-item-icon">
                  <i class="material-icons">{{ item.icon }}</i>
                </div>
                <div class="guide-item-content">
                  <h4 class="guide-item-title">{{ item.title }}</h4>
                  <p class="guide-item-description">{{ item.description }}</p>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>